<!-- CHANGE -->

<% layout("/layouts/boilerplate") %>
<div class="row"> 
  <div class="col-8 offset-2">
    <br><br>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

      <div class="mb-3">
        <label for="Title">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
        <div class="invalid-feedback">Title Should Be valid</div>
      </div>

      <div class="mb-3">
        <label for="description">Description</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Description Should Be there</div>
      </div>

      <div class="mb-3">
        <label for="image">Original Image</label><br>
        <img src="<%= originalImageUrl %>" alt="old img" style="border-radius: 1rem;">
      </div>

      <div class="mb-3">
        <label for="image">Upload New Image</label>
        <input name="listing[image]" type="file" class="form-control"/>
      </div>

      <!-- Category Section -->
            <!-- Category Section -->
      <div class="mb-3">
        <label for="category">Choose Category</label>
        <div class="row">
          <div class="col-md-6">
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="trending" name="listing[category]" value="Trending" required <%= listing.category==='Trending' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="trending">
                <i class="fa-solid fa-fire me-2"></i> Trending
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="Local Grounds" name="listing[category]" value="Local Grounds" required <%= listing.category==='Local Grounds' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="Local Grounds">
                <i class="fa-solid fa-map-location-dot me-2"></i> Local Grounds
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="Indoor Arenas" name="listing[category]" value="Indoor Arenas" required <%= listing.category==='Indoor Arenas' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="Indoor Arenas">
                <i class="fa-solid fa-building me-2"></i> Indoor Arenas
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="Amateur Leagues" name="listing[category]" value="Amateur Leagues" required <%= listing.category==='Amateur Leagues' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="Amateur Leagues">
                <i class="fa-solid fa-people-group me-2"></i> Amateur Leagues
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="Tournament grounds" name="listing[category]" value="Tournament grounds" required <%= listing.category==='Tournament grounds' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="Tournament grounds">
                <i class="fa-solid fa-trophy me-2"></i> Tournament grounds
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="Turf Grounds" name="listing[category]" value="Turf Grounds" required <%= listing.category==='Turf Grounds' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="Turf Grounds">
                <i class="fa-solid fa-baseball-bat-ball me-2"></i> Turf Grounds
              </label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="Astro Turf" name="listing[category]" value="Astro Turf" required <%= listing.category==='Astro Turf' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="Astro Turf">
                <i class="fa-solid fa-campground me-2"></i> Astro Turf
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="Night Cricket" name="listing[category]" value="Night Cricket" required <%= listing.category==='Night Cricket' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="Night Cricket">
                <i class="fa-solid fa-moon me-2"></i> Night Cricket
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="Beach Cricket" name="listing[category]" value="Beach Cricket" required <%= listing.category==='Beach Cricket' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="Beach Cricket">
                <i class="fa-solid fa-umbrella-beach me-2"></i> Beach Cricket
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="Backyard Grounds" name="listing[category]" value="Backyard Grounds" required <%= listing.category==='Backyard Grounds' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="Backyard Grounds">
                <i class="fa-solid fa-house me-2"></i> Backyard Grounds
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="Coaching grounds" name="listing[category]" value="Coaching grounds" required <%= listing.category==='Coaching grounds' ? 'checked' : '' %>>
              <label class="form-check-label d-flex align-items-center" for="Coaching grounds">
                <i class="fa-solid fa-chalkboard-user me-2"></i> Coaching grounds
              </label>
            </div>
          </div>
        </div>
        <div class="invalid-feedback">Choose Category</div>
      </div>


      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price">Price</label>
          <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
          <div class="invalid-feedback">Price Should Be valid</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country">Country</label>
          <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required/>
          <div class="invalid-feedback">Country Should Be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location">Location</label>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required/>
        <div class="invalid-feedback">Location Should Be valid</div>
      </div>

      <br /><br />
      <button class="btn btn-dark add-btn">Edit</button>
      <br><br><br>
    </form>
  </div>
</div>

<!-- CHANGE END -->